table.table.table-hover
  tr.row
    th.col-md-4 Restaurant
    th.col-md-4 Address
    th.col-md-2 Overall Rating
    th.col-md-2 Star
    th.col-md-2 Flavor
    th.col-md-2 Service
    th.col-md-2 Environment
  {% for item in array %}
  tr.row
    td.col-md-4
      a(href="{{ item.get_absolute_url }}") {{ item.name }}
    td.col-md-4 {{ item.location }}
    td.col-md-2 {{ item.overall.total }}
    td.col-md-2 {{ item.overall.star }}
    td.col-md-2 {{ item.overall.flavor }}
    td.col-md-2 {{ item.overall.service }}
    td.col-md-2 {{ item.overall.environment }}
  {% endfor %}
