table.table.table-hover
  tr.row
    th.col-md-3 Restaurant
    th.col-md-4 Address
    th.col-md-1 Overall Rating
    th.col-md-1 Star
    th.col-md-1 Flavor
    th.col-md-1 Service
    th.col-md-1 Environment
  {% for item in array %}
  tr.row
    td.col-md-3
      a(href="{{ item.get_absolute_url }}") {{ item.name }}
    td.col-md-4 {{ item.location }}
    td.col-md-1 {{ item.overall.total }}
    td.col-md-1 {{ item.overall.star }}
    td.col-md-1 {{ item.overall.flavor }}
    td.col-md-1 {{ item.overall.service }}
    td.col-md-1 {{ item.overall.environment }}
  {% endfor %}
