{% extends 'base.html' %}
{% block nav %}

{% endblock %}

{% block js%}

script(src="{{ S }}/bower_components/bootstrap-paginator/src/bootstrap-paginator.js")
script(src="{{ S }}/js/index.js")

{% block json_url %}

script.
  $('li#top').addClass('active')
  var json_url = '/eatings/top.json';

{% endblock %}


{% endblock %}

{% block container %}
#result
  .panel.panel-default
    .panel-heading#heading
    .panel-body#content
    .panel-footer
      ul#pager
{% endblock %}
