mixin row(attrs)
  - each v, k in attrs
    tr
      td.col-md-4= k
      td.col-md-8= '{{object.' + v + '}}'

{% extends 'base.html' %}

{% block js %}
script.
  var json_url = 'ratings.json'
script(src="{{ S }}bower_components/bootstrap-paginator/src/bootstrap-paginator.js")
script(src="{{ S }}js/index.js")
script.
  form_did_load = function(obj) {
    if (obj.status == 0) {
      pageClick(null, null, 1);
    }
    $('div#message').html(obj.message);
  }
script(src="{{ S }}js/async_form.js")
{% endblock %}

{% block container %}
h2 {{ object.name }}
table.table.table-bordered
  +row({
    'Restaurant': 'name',
    'Address': 'location',
    'Phone': 'phone',
    'Overall Rating': 'overall.total',
    'Star': 'overall.star',
    'Flavor': 'overall.flavor',
    'Service': 'overall.service',
    'Environment': 'overall.environment',
    '地标': 'landmark',
    })
  tr
    td XML
    td
      a.btn.btn-info.btn-sm(href='xml/') Export

div#message

form.async#rate_form(action='rate/', method='POST', role='form')
      .form-group
        .row
          .col-md-2
            label.control-label Star
            select.form-control(name='star', required='', autofocus='', multiple)
              option(selected='selected') 5
              option 4
              option 3
              option 2
              option 1
          .col-md-2
            label Flavor
            select.form-control(name='flavor', required='', autofocus='', multiple)
              option(selected='selected') 5
              option 4
              option 3
              option 2
              option 1
          .col-md-2
            label Service
            select.form-control(name='service', required='', autofocus='', multiple)
              option(selected='selected') 5
              option 4
              option 3
              option 2
              option 1
          .col-md-2
            label Environment
            select.form-control(name='environment', required='', autofocus='', multiple)
              option(selected='selected') 5
              option 4
              option 3
              option 2
              option 1
      .row
        .col-md-8
          .form-group
            textarea.form-control(name='comment', placeholder='I love this one!', autofocus='')
      .row
        .col-md-2
          .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Rate Now

#result
  .panel.panel-default

    .panel-heading#heading
    .panel-body#content
    .panel-footer
      ul#pager
{% endblock %}
